* {
    box-sizing: border-box;
    font-size: 2vh;
    margin: 0;
}

#app {
    display: flex;
}

.maincontent {
    width: 100%;
    margin: 2vh 5vw;
}

.sidebar {
    width: 1vw;
    height: 100vh;
    background-color: hsl(0, 0%, 25%);
    transition: 1s;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

li {
    color: white;
    width: 100%;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navbar p {
    white-space: nowrap;
    padding: 2vh;
    opacity: 0;
    transition: 1s;
}

.navbar li:hover {
    background-color: hsl(0, 0%, 10%);
    cursor:pointer;
}

.sidebar:hover {
    width: 15vh;
    .navbar p {
        opacity: 1;
    }
}

.closeButton {
    font-weight:900;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    font-size: 4vh;
    transform: translateY(-25%);
    transition: 0.3s;
}

.sidecloseButton {
    font-weight:900;
    top: 0;
    right: 0;
    position: absolute;
    transform: translateY(-25%);
    cursor: pointer;
    font-size: 2vw;
    transition: 0.3s;
    color: white
}

@-moz-document url-prefix() {
    .closeButton {
        font-size: 3vh;
    }
}

.closeButton:hover{
    opacity: 0.7;
}

header {
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    padding: 1vh;
    justify-content: flex-end;
    display:flex;
    color: white;
}

.chatWindowContainer {  
    background: hsl(180, 8%, 86%);
    width: 30vw;
    border-radius: 1vw;
    border: 0.2vw solid black;
}

.allMessages {
    height: 30vh;
    margin: 1vw;
    margin-right: 0.5vw;
}

.textArea {
    display: flex;
    width: 100%;
    flex-direction: column;
}

textarea {
    resize: none;
}

.sendMsgButton {
    border-radius: 0 0 0.8vw 0.8vw;
    border: none;
    background: rgb(140, 140, 140);
    margin-top: 300px;
}

.registerWindow {
    border: 0.3vh solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    height: 80vh;
    width: 30vw;
    display: grid
}

.loginWindow {
    border: 0.3vh solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    height: 40vh;
    width: 30vw;
    display: grid
}

a {
    cursor: pointer;
}

#firstComment{
    margin-top: 0vh;
}

.userPostInput {
    margin-bottom: 3vh;
}

.postDiv {
    width: 100%;
    background-color: rgb(237, 232, 232);
    padding: 1vh;
    margin-top: 1vh;
    transition: 1s;
}

.commendDiv {
    border: 0.5vh solid;
    position: fixed;
    background-color: rgb(182, 182, 182);
    opacity: 0.8;
    width: 40vw;
    min-height: 26vh;
    max-height: 75vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.2vh;
    transition: 1s;
}