* {
    box-sizing: border-box;
    font-size: 2vh;
    margin: 0;
}

#app {
    margin: 2vh 5vw;
}


header {
    width: 100%;
    background-color: rgb(200, 200, 200);
    padding: 1vh;
    justify-content: flex-end;
    display:flex;
}

.chatWindowContainer {  
    background: hsl(180, 8%, 86%);
    width: 30vw;
    border-radius: 1vw;
    border: 0.2vw solid black;
}

.allMessages {
    height: 30vh;
    margin: 1vw;
    margin-right: 0.5vw;
}

.textArea {
    display: flex;
    width: 100%;
    flex-direction: column;
}

textarea {
    resize: none;
}

.sendMsgButton {
    border-radius: 0 0 0.8vw 0.8vw;
    border: none;
    background: rgb(140, 140, 140);
    margin-top: 300px;
}

.registerWindow {
    border: 0.3vh solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    height: 80vh;
    width: 30vw;
    display: grid
}

.loginWindow {
    border: 0.3vh solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    height: 40vh;
    width: 30vw;
    display: grid
}

a {
    cursor: pointer;
}

.userPostInput {
    margin-bottom: 3vh;
}

.postDiv {
    width: 100%;
    background-color: rgb(237, 232, 232);
    padding: 1vh;
    margin-top: 1vh;
}

.commendDiv {
    border: 0.5vh solid;
    position: fixed;
    background-color: rgb(182, 182, 182);
    opacity: 0.8;
    width: 40vw;
    min-height: 20vh;
    max-height: 75vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}